<div class="contentBox dashboardBox" style="grid-column-start: 1; grid-column-end:5; grid-row-start: 1; grid-row-end:3;">
    <div>    
        <button id="startTripButton" class="mainButton">Start trip</button>
        <button id="stopTripButton" class="mainButton">Stop trip</button>
    </div>

    <h2>Progress bar</h2>
    <div>
        <div></div>
    </div>
    <h1>Key metrics</h1>
    <p>Velocity: 1</p>

    <div class="progressBarContainer">
        <div class="progressBar"><p class="progressBarValue"></p></div>
    </div>
</div>
<div class="contentBox" style="grid-column-start: 5; grid-column-end:8; grid-row-start: 1; grid-row-end:2;">
    <div class="chartContainer">
        <!-- <canvas id="velocity"></canvas> -->
    </div>
    
</div>
<div class="contentBox" style="grid-column-start: 5; grid-column-end:8; grid-row-start: 2; grid-row-end:3;">
    <div class="chartContainer">
        <!-- <canvas id="temperature"></canvas> -->
    </div>
    
</div>