<div class="contentBox dashboardBox" style="grid-column-start: 1; grid-column-end:7; grid-row-start: 1; grid-row-end:3;">
    <div>    
        <button id="startTripButton" class="mainButton">Start</button>
        <button id="stopTripButton" class="mainButton">Stop</button>
    </div>

    <div id="details">
        <h2>Details</h2>
    </div>

    <div id="keyMetrics">
        <h2>Key Metrics</h2>
    </div>

    <div class="progressBarContainer">
        <div class="progressBar"><p class="progressBarValue"></p></div>
    </div>
</div>
<div class="contentBox" style="grid-column-start: 7; grid-column-end:13; grid-row-start: 1; grid-row-end:2;">
    <div class="chartContainer">
        <!-- <canvas id="velocity"></canvas> -->
    </div>
    
</div>
<div class="contentBox" style="grid-column-start: 7; grid-column-end:13; grid-row-start: 2; grid-row-end:3;">
    <div class="chartContainer">
        <!-- <canvas id="temperature"></canvas> -->
    </div>
    
</div>