<div class="contentBox" style="grid-column-start: 1; grid-column-end:7; grid-row-start: 1; grid-row-end:1;">
    <div class="chartContainer"></div>
</div>
<div class="contentBox" style="grid-column-start: 7; grid-column-end:13; grid-row-start: 1; grid-row-end:1;">
    <div class="chartContainer"></div>
</div>
<div class="contentBox" style="grid-column-start: 1; grid-column-end:7; grid-row-start: 2; grid-row-end:2;">
    <div class="chartContainer"></div>
</div>
<div class="contentBox" style="grid-column-start: 7; grid-column-end:13; grid-row-start: 2; grid-row-end:2;">
    <div class="chartContainer"></div>
</div>
<!-- <div class="contentBox" style="grid-column-start: 7; grid-column-end:8; grid-row-start: 1; grid-row-end:3;"></div> -->