<div class="contentBox metricsContainer" style="grid-column-start: 1; grid-column-end:10; grid-row-start: 1; grid-row-end:3;">
</div>
<div class="contentBox warningDataContainer" style="grid-column-start: 10; grid-column-end:13; grid-row-start: 1; grid-row-end:3;">
</div>
<!-- <div class="contentBox" style="grid-column-start: 1; grid-column-end:8; grid-row-start: 2; grid-row-end:6; display: none;"> -->
    <!-- <h2>Kinematics</h2><hr>
    <div class="option">
        <p class="Inline">Displacement: </p>
        <p class="Inline"> 10m</p>
    </div>
    <div class="option">
        <div></div>
        <p class="Inline"> 10km</p>
    </div><br><br>
    <div class="option">
        <p class="Inline">Velocity: </p>
        <p class="Inline"> 10m/s</p>
    </div>
    <div class="option">
        <div></div>
        <p class="Inline"> 10km/h</p>
    </div><br><br>
    
    <div class="option">
        <p class="Inline">Accelerations: </p>
        <p class="Inline"> 10m/s<sup>2</sup></p>
    </div>
    <div class="option">
        <div></div>
        <p class="Inline"> 10km/h<sup>2</sup></p>
    </div>
</div>
<div class="contentBox" style="grid-column-start: 8; grid-column-end:15; grid-row-start: 2; grid-row-end:6;">
    <h2>Temperature</h2><hr>
    <div class="option">
        <p class="Inline"> Pod Temperature: </p>
        <p class="Inline"> 10<sup>o</sup>C</p>
    </div><br><br>
    <div class="option">
        <p class="Inline"> Motor Temperature: </p>
        <p class="Inline"> 10<sup>o</sup>C</p>
    </div><br><br>
    <div class="option">
        <p class="Inline"> Battery Temperature: </p>
        <p class="Inline"> 10<sup>o</sup>C</p>
    </div><br><br>
    <div class="option">
        <p class="Inline">Plate Temperature: </p>
        <p class="Inline"> 10<sup>o</sup>C</p>
    </div><br><br>
    <div class="option">
        <p class="Inline">Cooling system Temperature: </p>
        <p class="Inline"> 10<sup>o</sup>C</p>
    </div><br><br>
</div>
<div class="contentBox" style="grid-column-start: 15; grid-column-end:22; grid-row-start: 2; grid-row-end:6;">
    <h2>Other BS</h2><hr>
    <div class="option">
        <p class="Inline">Voltage</p>
        <p class="Inline"> 10V</p>
    </div><br><br>
    <div class="option">
        <p class="Inline">Pod Pressure</p>
        <p class="Inline"> 10mPa</p>
    </div><br><br>
    
</div>
<div class="contentBox" style="grid-column-start: 22; grid-column-end:25; grid-row-start: 2; grid-row-end:6; padding-left: 0;">
    <h3 style="padding: 1vi;">Critical Values</h3><hr>
    <div class="option">
        <h4 class="Inline">Temperature: 100 <sup>o</sup>C</h4>
    </div><br><br>
    <div class="option">
        <h4 class="Inline">Accelerations: 10m/s<sup>2</sup></h4>
    </div><br><br>
    <div class="option">
        <h4 class="Inline">Pressure: 10mPa<h4>
    </div><br><br> -->
</div>