<div class="contentBox" style="grid-column-start: 1; grid-column-end:8; grid-row-start: 1; grid-row-end:3;">
<div class="optionsContainer">
    <!-- <h2>Appearance</h2>
    <div class="option">
        <p class="optionText">Dark mode</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <h2>Sound</h2>
    <div class="option">
        <p class="optionText">Mute</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <h2>Chart settings</h2>
    <div class="option">
        <p class="optionText">Disable gridlines</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div> -->

    <!-- <button class="mainButton">Export data</button> -->
    
    <hr>
    Built by APSC 103 Team 781:A
</div>
</div>