:root {
    --light-bg: white;
    --light-contentContainer-bg: rgba(224, 232, 239, 0.452);
    --light-contentBox-bg: white;
    --light-sidebar-bg: rgb(139, 27, 2);
    

    --dark-bg: rgb(12, 12, 12);
    --dark-contentContainer-bg: rgb(27, 27, 27);
    --dark-contentBox-bg: rgb(47, 45, 45);
    --dark-sidebar-bg: rgba(139, 27, 2, 50%);

    --background-color: var(--light-bg);
    --contentContainer-background-color: var(--light-contentContainer-bg);
    --contentBox-background-color: var(--light-contentBox-bg);
    --sidebar-background-color: var(--light-sidebar-bg);
    color-scheme: light;
}

@media (prefers-color-scheme: dark){
    :root{
        --background-color: var(--dark-bg);
        --contentContainer-background-color: var(--dark-contentContainer-bg);
        --contentBox-background-color: var(--dark-contentBox-bg);
        --sidebar-background-color: var(--dark-sidebar-bg);
        color-scheme: dark;
    }
}

html.lightMode{
    --background-color: var(--light-bg);
    --contentContainer-background-color: var(--light-contentContainer-bg);
    --contentBox-background-color: var(--light-contentBox-bg);
    --sidebar-background-color: var(--light-sidebar-bg);
    color: black;
    color-scheme: light;
}

html.darkMode{
    --background-color: var(--dark-bg);
    --contentContainer-background-color: var(--dark-contentContainer-bg);
    --contentBox-background-color: var(--dark-contentBox-bg);
    --sidebar-background-color: var(--dark-sidebar-bg);
    color: rgb(224, 224, 224);
    background-color: var(--background-color);
    color-scheme: dark;
}

*{
    box-sizing: border-box;
    border: .1vi solid black;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, sans-serif;
    transition: background-color 0.3s ease-in-out

}
.Inline{
 display: inline;
 /* font-size: 1.5em; */
}


h1 {
    font-size: 2rem;
    margin: 1rem;
}

h2 {
    font-size: 1.75rem;
    margin: .5rem;
}
h4{
    font-size: 1rem;
    margin: 0;
}
p{
    font-size: 1.5em;
}

.container{
    height: 99vh;
    background-color: var(--background-color);
    position: relative;
    top: 0;
    left: 0;
}

.titleLogo{
    position: absolute;
    top: 1vi;
    right: 30vi;

    width: 25vi;
    height: 5vi;   

    background: url(../images/QHDT2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sidebarContainer{
    width: 11vw;
    height: 100vh;
    background-color: var(--sidebar-background-color);
    position: absolute;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 1vh 1vh 2vh rgba(0,0,0, 0.25);
}
.sidebarlogo{
    position: absolute;
    top: 2vi;
    left: 2vi;
    width: 7vi;
    height: 7vi;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/QHDT.jpg);
    overflow: hidden;
    border-radius: 100%;
    
}

.contentContainer{
    width: 85vw;
    height: 85vh;
    position:absolute;
    top: 13vh;
    right: 0;
    background-color: var(--contentContainer-background-color);
    border-bottom-left-radius: 5vh;
    border-top-left-radius: 5vh;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vi;
    padding: 2vi;
}

.metricsGrid{
    width: 85vw;
    height: 85vh;
    position:absolute;
    top: 13vh;
    right: 0;
    background-color: rgba(224, 232, 239, 0.452);
    border-bottom-left-radius: 5vh;
    border-top-left-radius: 5vh;

    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2vi;
    padding: 2vi;
}


.table{
    display: grid;
    position:absolute;
    overflow: scroll;
    width: 30vw;
    height: 73  vh;
    top: 5vi;
    left: 4vi;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1vi;
    padding: 2vi;
}

.contentBox{
    background-color: var(--contentBox-background-color);
    border-radius: 2vh;
    box-shadow: 0 1vh 2vh rgba(0, 0,0,0.25);
    padding: 2% 2%;
    overflow-y: scroll;
}

.currentPage{
    position: absolute;
    left: -1vi;
    top: -0.5vi;
    width: 160%;
    height: 160%;
    background-color: rgb(229, 185, 55);
    z-index: -1;
    border-radius: 1vi 3vi 3vi 1vi;
    font-size: 10px;
}

.pageButtonsContainer {
    margin-top: 15vi;
}

.pageButtons{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 3vi;
    margin-bottom: 3vi;
    height: 3.5vh;
    width: 8vw;
    left: 3vw;
    background-color: rgba(0, 0, 0,0);
    color: white;
    font-size: 1vi;
    text-align: left;
    transition: 0.8s;
    z-index: +1;
    line-height: 100%;
    white-space: nowrap;
}

.pageButtons>p{
    font-size: 1vi
}

.pageImages{
    width: 0.5em;
    height: 0.5em;
    z-index: +2;
    position: absolute;
    left: 2.5vw;
    top: 0vi;
}

.pageButtonsImages{
    display: inline;
    fill: white;
    margin-right: 0.1em;
}

button{
    cursor: pointer;
}

.pageButtons::before{
    content: "";
    position: absolute;
    left: -1vi;
    top: -0.5vi;
    width: 0%;
    height: 160%;
    background-color: rgb(229, 185, 55);
    z-index: -1;
    transition: 0.8s;
    border-radius: 1vi 3vi 3vi 1vi;
    /* color: black;
    font-size: 10px; */
}

.pageButtons:hover::before{
    width:160%;
}

    
.mainButton{
    padding: 0.5rem 2.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    color: white;
    background-color: gray;
    box-shadow: 0 .1vi .2vi rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    font-size: large;
    font-weight: bold;
}

.mainButton:hover{
    box-shadow: .5vi .5vi .5vi rgba(0,0,0,0.15);
    filter: brightness(80%);
    transition: all 0.3s ease-in-out;
}

.mainButton:active{
    box-shadow: 0 .1    vi .2vi rgba(0,0,0,0.15);
    filter: brightness(70%);
    transition: all 0.1s ease-in-out;
}

#startTripButton{
    background-color: rgb(15, 169, 20);
}

#stopTripButton{
    background-color: rgb(169, 15, 15);
}

.optionsContainer{
    max-width: 30rem;
    margin: auto;
}

div.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .6vi;
}

div.option > .optionText {
    font-size: 1.2em;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    color: gray;
  }

/* Chart dependent styling */
.contentBox > div.chartContainer {
    height: 90%;
}

.chartControl {
    height: 8%;
    margin: 0.5% 0.5rem;
    padding: 0 0.25rem;
    border-radius: 0.2rem;
}
.progressBar{
    display: flexbox;
    position: absolute;
    top: 89.3vh;
    left: 17vi;
    z-index: +1;
    width: 20vi;
    height: 5vh;
    background-color: rgb(35, 208, 35);
    border-bottom-left-radius: 1vi;
    text-align: center;
    font-size: 2rem;
}

/* Utility class for javascript */

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }