@import url(/src/css/reset.css);
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_22 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

div.container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.chartContainer {
  height: 90%;
  width: 90%;
  margin: 5px;
}

.v5_23 {
  width: 100%;
  height: 900px;
  background: rgba(231,237,246,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 257px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v5_24 {
  width: 197px;
  height: 100%;
  background: rgba(139,27,2,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.left-panel {
  
}

.v5_25 {
  width: 37px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 47px;
  overflow: hidden;
}
.v5_26 {
  width: 35px;
  height: 30px;
  background: url(/src/images/v5_55.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v5_27 {
  width: 8px;
  height: 7px;
  background: rgba(222,228,238,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v5_28 {
  width: 22px;
  height: 2px;
  background: rgba(222,228,238,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 13px;
}
.v5_29 {
  width: 8px;
  height: 7px;
  background: rgba(222,228,238,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
}
.v5_30 {
  width: 22px;
  height: 2px;
  background: rgba(222,228,238,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
}
.v5_31 {
  width: 8px;
  height: 7px;
  background: rgba(222,228,238,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
}
.v5_32 {
  width: 22px;
  height: 2px;
  background: rgba(222,228,238,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 13px;
}
.v5_33 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 44px;
  overflow: hidden;
}
.v5_34 {
  width: 37px;
  height: 37px;
  background: url(/src/images/v5_55.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v5_35 {
  width: 16px;
  height: 15px;
  background: rgba(222,228,238,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 22px;
}
.v5_36 {
  width: 34px;
  height: 34px;
  background: rgba(222,228,238,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v5_37 {
  width: 111px;
  height: 113px;
  background: url(/src/images/v5_37.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 43px;
  border-top-left-radius: 63px;
  border-top-right-radius: 63px;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  overflow: hidden;
}
.v5_38 {
  width: 46px;
  height: 46px;
  background: rgba(231,237,246,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1054px;
  border-radius: 50%;
}
.v5_39 {
  width: 19px;
  height: 19px;
  background: url(/src/images/v5_55.png);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1067px;
  border: 1.5px solid rgba(1,65,125,1);
}
.v5_40 {
  width: 17px;
  height: 17px;
  background: rgba(255,15,15,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 1073px;
  border-radius: 50%;
}
.v5_41 {
  width: 73px;
  color: rgba(231,237,246,1);
  position: absolute;
  top: 470px;
  left: 94px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_42 {
  width: 87px;
  color: rgba(231,237,246,1);
  position: absolute;
  top: 400px;
  left: 94px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_43 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 329px;
  left: 94px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_44 {
  width: 36px;
  height: 40px;
  background: url(/src/images/v5_55.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 51px;
  overflow: hidden;
}
.v5_45 {
  width: 22px;
  height: 26px;
  background: url(/src/images/v5_55.png);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v5_46 {
  height: 4px;
  background: url(/src/images/v5_55.png);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 18px;
  border: 2px solid rgba(255,255,255,1);
}
.v5_47 {
  width: 8px;
  height: 9px;
  background: url(/src/images/v5_55.png);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 28px;
  border: 2px solid rgba(255,255,255,1);
}
.v5_48 {
  width: 28px;
  height: 30px;
  background: url(/src/images/v5_55.png);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 2px solid rgba(255,255,255,1);
}
.v5_49 {
  width: 235px;
  height: 50px;
  background: rgba(255,199,4,1);
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 22px;
  border-top-left-radius: 7px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v5_50 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 250px;
  left: 94px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_51 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 243px;
  left: 49px;
}
.v5_52 {
  width: 645px;
  height: 371px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 617px;
  left: 279px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_53 {
  width: 433px;
  height: 424px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 957px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_54 {
  width: 436px;
  height: 371px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 617px;
  left: 955px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_55 {
  width: 380px;
  height: 78px;
  background: url(/src/images/v5_55.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 577px;
  overflow: hidden;
}
