*{
    box-sizing: border-box;
    font-size: 32px;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:20px ;
    grid-row-gap: 20px;
    
}

.item{
    border: 2px solid black;
}  
.item1, .item5 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.item4{
    grid-row-start: 2;
    grid-row-end: 4;
}
.item2, .item3{
    grid-column-start: 2;
    grid-column-end: 4;
}