#parent .box{
    height: 20px;
    border: 1px solid blue;
}
#parent .box + .box{
    background-color: red;
}
 .box ~ .box{
    background-color: black;
}

#parent .box:not(.dontselectme){
    background-color: blue;
}
#parent .box:hover{
    background-color: gold;
}
#parent .box:nth-child(5){
    background-color: yellow;
    color: black;
}
.box2{
    width: 300px;
    height: 300px;
    border: 10px solid black;
    margin: 50px auto;
    position: relative;
}
.box2::before{
    content: '';
    display: block;
    border: 10px solid brown;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
}
.box2::after{
    content: '';
    display: block;
    border: 10px solid cornflowerblue;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -20px;
    right: -20px;
    z-index: -1;
}
a .text{
    text-decoration: none;
    position: relative;
}
a .text::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
a .text:hover::before{
    height: 14px;
}
p::first-letter{
    font-size: 42px;
    float: left;
    margin: -3px;
}
p::first-line{
    font-weight: bold;
}
::selection{
    background-color: black;
    color: white;
}